html{
    height: 100%;
}
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 200px;
}

main{
    grid-area: main;
}
.sidebar{
    grid-area: sbar;
    line-height: 30px;
}
.sidebar a{
    color: #64748b;
}
.sidebar a:hover{
    color: #645cff;
    transition: 0.5s;
}
.content{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;

}
.recipe-img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.25rem;
    height: 11rem;
}
footer{
    display: flex;
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
footer .footer-text-color{
    color: #645cff;
}
.contact{
    float: right;
}
.container{
    /* display: grid;
    height: 100vh;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.09fr 0.5fr 1fr 0.19fr;
    grid-template-areas: 'nav nav nav nav'
                         'main main main main'
                         'sbar content content content'
                         'sbar content content content'
                         'footer footer footer footer'; */
}
.nav-elements li{
    display:inline-block;
    line-height: 50px;
    /* margin-top: 2.5%;
    margin: 2.5% 5px 0 9px; */
}
nav button{
    float: right;
}
.check-btn{
    line-height: 50px;
    float: right;
    display: none;
}
#check{
    display: none;
}


.banner{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./main.jpeg), no-repeat;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 1px;
    border-radius: 0.25rem;
}


/* @media(max-width: 850px){
    .check-btn{
        display: block;
    }
    .nav-items{
        position: relative;
        width: 100%;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    .nav-items li{
        display: block;
    }
    .contact{
        float: none;
    }
    #check:checked ~ .nav-items{
        left: 0;
    }
} */
