html{
    height: 100%;
}
body{
    min-height: 100%;
}
footer{
    display: flex;
    background-color: black;
    color: white;
    grid-area: footer;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .footer-text-color{
    color: #645cff;
}